{% extends "base.html" %}

{% block content %}
<section>
    <h2>Education</h2>
    
    <div class="education-item">
        <h3>JNTUA COLLEGE OF ENGINEERING ANANTAPUR</h3>
        <p>B.Tech</p>
        <p>CGPA: 7.97/10</p>
        <p>2021 – 2024</p>
    </div>
    
    <div class="education-item">
        <h3>NARAYANA JUNIOR COLLEGE ANANTAPUR</h3>
        <p>BIEAP</p>
        <p>Percentage: 94.7%</p>
        <p>2018 – 2020</p>
    </div>
    
    <div class="education-item">
        <h3>LAKSHMI ENGLISH MEDIUM HIGH SCHOOL ANANTAPUR</h3>
        <p>BSEAP</p>
        <p>Percentage: 98%</p>
        <p>2018</p>
    </div>
</section>
{% endblock %}