{% extends "base.html" %}

{% block content %}
<section>
    <h2>Experience</h2>
    
    <div class="experience-item">
        <h3>ELEVATE LABS</h3>
        <p><strong>Intern – Python Developer</strong></p>
        <p>As a Python Developer Intern at Elevate Labs, I actively contribute to daily Python-based projects by writing clean code, debugging errors, and implementing solutions by using Python libraries. My responsibilities include completing assigned tasks, resolving issues, and pushing code to GitHub repositories while adhering to best practices. This role has strengthened my problem-solving skills and familiarity with collaborative development workflows.</p>
        <ul>
            <li>Developed and debugged Python scripts and applications, ensuring functionality and efficiency.</li>
            <li>Maintained and updated project repositories on GitHub, following version control best practices.</li>
        </ul>
    </div>
</section>
{% endblock %}